.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
}

.userList {
  grid-row: main;
}
