.container {
  padding: var(--alignmentS) var(--alignmentM);
  border: none;
  min-width: 80px;
  cursor: pointer;
}

.basic {
  background-color: var(--darkBlue);
  color: var(--white);
  transition: background-color var(--during);
}

.basic:hover {
  background-color: var(--darkBlueHover);
}

.border {
  background-color: var(--white);
  border: 2px solid var(--darkBlue);
  color: var(--darkBlue);
  transition: all var(--during);
}

.border:hover {
  background-color: var(--darkBlue);
  color: var(--white);
}

.text {
  padding: 0;
  background-color: var(--transparent);
  color: var(--black);
  transition: color var(--during);
  min-width: auto;
}

.text:hover {
  color: var(--blackHover);
}
