.container {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--paleGrey);
}

.container .wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: 'logo . en tc';
  grid-column-gap: var(--alignmentS);
  align-items: center;
  padding: 0 var(--alignmentL);
  height: 100%;
  max-width: var(--box-max-width);
  width: 100%;
}

.container .homeButton {
  grid-area: logo;
  font-family: var(--logo), var(--brandFont), sans-serif;
  color: var(--brand);
  font-size: 20px;
}

.container .homeButton:hover {
  color: var(--brand);
}

.container .en {
  grid-area: en;
}

.container .tc {
  grid-area: tc;
}
