.container {
  display: flex;
  justify-content: center;
  padding: 0 var(--alignmentL);
  background-color: var(--white);
  border-bottom: 1px solid var(--paleGrey);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--box-max-width);
  width: 100%;
  height: 100%;
}

.container .homeButton {
  background-color: var(--brand);
  color: var(--white);
}

.container .homeButton:hover {
  background-color: var(--brandHover);
}
